{
	font-family: Arial, Helvetica, Sans-serif;
	margin: 0px;
	padding: 0px;
	font-size :12px;
	background-color: eff5f9;
}
.headerMenu{
	background-image: url(../img/menu_bg.jpg);
	height:56px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	}
#wrapper{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	padding-top: 0px;
	padding-bottom: 0px;
}	
.logo{
	background-image: url(../img/menu_bg.jpg);
	width: 125px;
}
.logo img{
	background-image: url(../img/menu_bg.jpg);
	width: 150px;
	height: 45px;
}
.search_box{
	background-image: url(../img/menu_bg.jpg);
	position: absolute;
	top:13px;
	margin-left: 165px;
}
#menu {
	background-image: url(../img/menu_bg.jpg);
	position: absolute;
	top: 7px;
	right: 0px;
	height: 37px;
	padding-top: 19px;
	padding-right: 4%;
	}
#menu a{
	color: #FFFFFF;
	font-size: 14px;
	background-image: url(../img/menu_bg.jpg);
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
}
.profileLeftSideContent{
	width: 194px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	height: 200px;
}
.postForm{
	float: right;
	width: 580px;
	height: 80px;
	background-color: #F3F6F9;
	padding: 5px;
}
.profilePosts{
	float: right;
	width: 580px;
	height: 414px;
	background-color: #DCE5EE;
	padding: 5px;
}